doctype html
// head tags guide: htmlhead.dev
head
  // Standard Meta
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='x-ua-compatible' content='ie=edge,chrome=1')
  // Site Properties
  title NTU OC13 Lottery Machine
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js' crossorigin='anonymous'
         integrity='sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js' crossorigin='anonymous'
         integrity='sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js' crossorigin='anonymous'
           integrity='sha512-LfB+BcvR3zBt7ebVskhSWiSbEUiG3p5EcCprkieldsKhBeR6wpnLi0VpWC2GNgVGWP2n/skO8Bx2oKNjUhXCkw==')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' crossorigin='anonymous'
       integrity='sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==')
  link(rel='stylesheet' href=url_for('static', filename='css/style.css'))
  block head
body
  main.ui.middle.aligned.grid.container
    section.sixteen.wide.column
      block content

// vim: set ts=2 sw=2 et nowrap:
