extends base

block head
  if '/draw' in request.path
    script(src=url_for('static', filename='js/bingo/burst.js'))
  elif '/idle' in request.path
    script(src=url_for('static', filename='js/bingo/shift.js'))
  if request.path.startswith('/lottery')
    link(rel='stylesheet' href=url_for('static', filename='css/themes/lottery.css'))
  elif request.path.startswith('/bonus')
    link(rel='stylesheet' href=url_for('static', filename='css/themes/bonus.css'))
  link(rel='stylesheet' href=url_for('static', filename='css/bingo.css'))

block content
  article#winner
    if name
      .ui.center.aligned.header= name
        .sub.header= desc
  article#canvas(data-nexturl=link)
    a(href=link hidden) next
    .ui.seven.column.grid.cubes
      each _ in range(49)
        .column.cube
    .cube.color1(hidden)  // for js to fetch css colors
    .cube.color2(hidden)

// vim: set ts=2 sw=2 et:
