extends base

block head
  script(src=url_for('static', filename='js/bingo-#{anim}.js'))
  link(rel='stylesheet' href=url_for('static', filename='css/bingo.css'))

block content
  section
    article#bingo
      .canvas
        .squares
          each _ in range(49)
            .square
      .winner
        if winner
          p#name= winner.姓名
          p#id= winner.學號

// vim: set ts=2 sw=2 et:
